*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: 'REM', sans-serif;
}

.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 0;
    display: flex;
    align-items: center;
}

.hotstar-logo{
    height: 70px;
}

.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: white;
    opacity: 0.9;
}

.right-container{
    display: block;
    margin-left: auto;
}

.nav-search{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: white;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.nav-search:focus{
    width: 400px;
    border-color: #1f80e0;
}

.btn{
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: white;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    outline: none;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
}

.login{
    color: white;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

.carousel-container{
    position: relative;
    width: 100%;
    height: 85vh;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
}

.carousel{
    display: flex;
    width: 96%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
    border-radius: 5px;
}
.slider-img{
    width: 75%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.title-img{
    width: 300px;
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
}

.slider-content{
    position: absolute;
    width: 30%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right , #030b17 80%, #0c111b00);
    color: white;   
}

.movie-desc{
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 25px;
    opacity: 0.8;
}

.watch{
    width: 220px;
    height: 50px;
    margin-top: 15px;
    margin-left: 50px;
    padding: 12px;
    background-color: rgb(247, 241, 241);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.watchlist-btn{
    width: 52px;
    height: 50px;
    margin-top: 15px;
    margin-left: 4px;
    padding: 12px;
    background-color: rgb(247, 241, 241);
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.4s;
}

.watch:hover , .watchlist-btn:hover{
    filter: brightness(1.2);
    transform: scale(1.08);
    overflow: hidden;
}

.watch i{
    color: black;
}

.watch span{
    margin-left: 10px;
}

.video-card-container{
    position: relative;
    width: 92%;
    display: flex;
    justify-content: space-between;
    height: 10vw;
    margin-bottom: 20px;
    margin: auto;
}

.video-card{
    position: relative;
    min-width: calc(100% / 5 - 10px);
    width: calc(100% / 5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #030b17;
}

.card-video ,
.video-card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-video{
    position: absolute;
}

.video-card:hover .video-card-image{
    display: none;
}

.title{
    color: white;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}

.movies-list{
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
}

.card-container{
    position: relative;
    width: 92%;
    padding-left: 10px;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar{
    display: none;
}

.card{
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
}

.card-image{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.card:hover{
    transform: scale(1.1);
}

.card:hover .card-body{
    opacity: 1;
}

.card-body{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 2;
    background: linear-gradient(to bottom , rgba(4,8,15,0) , #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.name{
    color: white;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 10%; 
    font-weight: 500;  
}

.desc{
    color: white;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}

.watch-list{
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255,0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
    margin-top: 80%;
}

.watch-list::before{
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url(images/add.png);
    background-size: cover;
    transform: scale(0.4);
}

.watch-list:hover{
    color: white;
    background: rgba(255, 255, 255,0.1);
}

.pre-btn,
.nxt-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
}

.pre-btn{
    left: 0;
    background: linear-gradient(to right , #0c111b 0% , #0c111b00);
}

.nxt-btn{
    right: 0;
    background: linear-gradient(to left , #0c111b 0% , #0c111b00);
}

.pre-btn img ,
.nxt-btn img {
    width: 15px;
    height: 20px;
    opacity: 0;
}

.pre-btn:hover img ,
.nxt-btn:hover img {
    opacity: 1;
}